body {
    font-family: "DM Sans", sans-serif;
    background-color: #121212;
    color: #E7E7E7;
    margin: 0;
    padding-bottom: 16rem;
    overflow-y: scroll; /* Always show vertical scrollbar */
    padding-right: 10px; /* Adjust based on the width of the scrollbar */
}

.container {
    max-width: 44rem;
    margin: auto;
    margin-top: 4rem;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #ffffff; /* Adjusted color */
}
.header h1 img {
    width: 44px; /* Adjust the width as needed */
    height: 44px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

#status-indicator {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.cards-container {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
}

.card {
    background-color: rgba(36, 36, 36, 0.18);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
}
#twitter-container{
    display: flex;
    justify-content: center;
}
.tiktok-card {
    background-color: #2222224a;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.card-header div {
    display: flex;
    align-items: center;

}

.card-content {
    width: 100%; /* Ensure full width */
    border: none; /* Remove iframe border */
    margin-top: 1rem;
}

.youtube-style {
    position: relative; /* Make the container relative */
    width: 100%; /* Ensure full width */
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    margin-top: 1rem;
    height: 0;
}

.card-content iframe {
    position: absolute; /* Position iframe absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Ensure full width */
    height: 100%; /* Ensure full height */
    border: none; /* Remove iframe border */
    border-radius: 0.5rem;
}
.card-profile-pic{
    border-radius: 60px;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    display: block;
    border-radius: 9000px;
    object-fit: cover;
}

.imgur-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-userinfo-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.card-userinfo{
    gap: 0.75rem;
}

.tiktok-content iframe {
    max-height: 739px;
    border-radius: 10px;
    overflow: hidden;
}

.twitter-style{
    padding: 0%;
}
.tiktok-card .card-content {
    position: relative;
    width: 100%;
    padding-top: 756px; /* 9:16 aspect ratio for TikTok */
}

.tiktok-card .card-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
}

.card-content a {
    color: #242424; /* Adjusted color */
    text-decoration: none;
}

.button-style {
    font-family: "DM Sans", sans-serif;
    display: flex; /* Use flexbox */    
    align-items: center; /* Align items vertically */
    padding: 8px 8px;
    background-color: #24242400;
    border: none;
    border-radius: 5px;
    color: #E7E7E7;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-style i{
    font-size: 20px;
}

.button-style svg {
    width: 1.2rem;
    height: 1.2rem;
}

.button-style:hover {
    background-color: #252525;
}
/* Toggle button styles */
.card-buttons  {
    font-family: "DM Sans", sans-serif;
    align-items: center;
    display: inline-flex;
    gap: 4px;
    background-color: #24242400;
    color: #E7E7E7;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-buttons:hover {
    background-color: #252525;
}
.button-group{
    gap: 0.5rem;
}

#loader {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate-outer08 1.4s linear infinite;
}

.loader-circle {
    stroke: currentColor;
}

.loader-circle-animation {
    animation: rotate-inner08 1.4s ease-in-out infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
}

@keyframes rotate-inner08 {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

@keyframes rotate-outer08 {
    0% {
        transform-origin: 50% 50%;
    }
    100% {
        transform: rotate(360deg);
    }
}

.multiColor-loader {
    display: block;
}

.buttons-right {
    display: flex;
    gap: 8px;   
    z-index: 2;
}

/* Updated CSS for the card count button */
#card-count-button {
    font-family: "DM Sans", sans-serif;
    pointer-events: none; /* Disable pointer events */
    gap: 8px;
    font-size: 14px;
}

#card-count-button:hover {
    background-color: #1d1d1d;
}
/* Updated CSS for the toggle queue button */
#toggle-queue-button {
    display: flex;
    justify-content: center;
    width: 140px;
    font-family: "DM Sans", sans-serif;
    background-color: rgba(255, 113, 215, 0.13); /* Purple for open queue */
    color: #FF71D7;
    gap: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.profile-pic{
    border-radius: 60px;
    display: block;
    height: 2rem;
    width: 2rem;
    display: block;
    border-radius: 9000px;
    object-fit: cover;
}


#toggle-queue-button.close {
    background-color: #202020; /* Grey for close queue */
    color: #E7E7E7;
}

/* Hover effect */
#toggle-queue-button:hover {
    background-color: rgba(255, 113, 215, 0.20); /* Dark green on hover for open queue */
}

#toggle-queue-button.close:hover {
    background-color: #2b2b2b; /* Lighter grey on hover for close queue */
}
/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #333; /* Track color */
}

body::-webkit-scrollbar-thumb {
    background-color: #666; /* Thumb color */
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Thumb color on hover */
}
/* hide card content */
.card-content.hidden {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 10px 20px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Stick it to the top */
    left: 0; /* Stick it to the left */
    width: 100%; /* Full width */
    z-index: 999;
    box-sizing: border-box;
    
    
}
.web-logo{
    width: auto;
    height: 28px;
    display: flex;
    justify-content: center;
}
.navbar-left{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.navbar-title{
    font-family: "Oxanium", sans-serif;
    margin: 0;
    color: #E7E7E7;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.navbar h1 {
    margin: 0;
    color: #E7E7E7;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}
.navbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.link-element{
    color: #FF71D7;
    text-decoration: none;
    font-weight: 400 !important;

}
a:hover {
    text-decoration: underline;
  }

.header-info{
    display: flex;
    flex-direction: column;
  }